ul {
    list-style: none;
   
}
li h1 {
    /* Agrega aquí los estilos que desees para los elementos h1 dentro de los li */
    margin-right: 10px;
    font-size: 18px;
    color: #ffffff;
    font-family:sans-serif;
    /* Agrega más estilos según tus necesidades */
}

