ul {
    list-style: none;
   
}
li h1 {
    /* Agrega aquí los estilos que desees para los elementos h1 dentro de los li */
 
    font-size: 20px;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    /* Agrega más estilos según tus necesidades */
}

