.lista{

    display: flex;
  
}
.li{
margin-right: 40px;
font-size: 100%;


}
.li a {
   
    color: #fbddbf;
   text-decoration: none;
 
}
.lista .li a:hover {
 text-decoration:underline;

}

@media (max-width: 768px) {
    .lista {
        display: none;
       
    }
}
